@import "~typeface-roboto/index.css";
@import "~vue-material/dist/vue-material.min.css";
@import "~vue-material/dist/theme/default.css";
@import "~material-icons-font/material-icons-font.css";

[v-cloak] {
    display: none;
}

body, .md-app {
    height: 100%;
}

/* Workaround for: MdModalDialog button text may not appear in Webkit browsers */
.md-dialog-actions .md-ripple {
    z-index: auto;
}
